<header>
  <nav class="navbar">
    <div class="logo-section"><a routerLink="/home">
      <h1>Casual Bazaar</h1>
      <h5>Trust & Globally Appealing</h5></a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/shop" routerLinkActive="active">Shop Now</a></li>
      <li><a routerLink="/newArrivals"routerLinkActive="active">New Arrivals</a></li>
      <li><a routerLink="/bestSellers"routerLinkActive="active">Best Sellers</a></li>
      <li><a routerLink="/more"routerLinkActive="active">More Options</a></li>
    </ul>
    <div class="nav-buttons">
      <a routerLink="/login" class="btn">Login</a>
      <a routerLink="/cart" class="btn" id="cart" >
        <i class="fa fa-shopping-cart" aria-hidden="true"> Cart</i>
      </a>
    </div>
  </nav>
</header>
