<header>
  <nav class="navbar">
    <div class="logo-section">
      <a routerLink="/home">
        <h1>Casual Bazaar</h1>
        <h5>Trust & Globally Appealing</h5>
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/shop" routerLinkActive="active">🛍️Shop Now</a></li>
      <li>
        <a
          routerLink="/new-arrivals"
          routerLinkActive="active"
          style="color: red"
          >🔥New Arrivals🔥</a
        >
      </li>
      <li>
        <a routerLink="/best-sellers" routerLinkActive="active"
          >🏅Best Sellers</a
        >
      </li>
    </ul>
    <div class="nav-buttons">
      <a *ngIf="!isAuthenticated" routerLink="/login" class="btn">Login</a>
      <a
        *ngIf="isAuthenticated"
        (click)="logout()"
        routerLink="home"
        class="btn"
        >【﻿⏻】Logout</a
      >
      <a *ngIf="isAdmin" routerLink="/admin-dashboard" class="btn" id="dashboard">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      </a>
      <a *ngIf="!isAdmin" routerLink="/cart" class="btn" id="cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart ({{ cartCount }})
        <i class="fa fa-angle-down" aria-hidden="true"></i> 
      </a>
      <a *ngIf="!isAdmin" routerLink="/wishlist" class="btn" id="wishlist">
        <i class="fa fa-heart" aria-hidden="true"></i> Wishlist
      </a>
      <a *ngIf="!isAdmin" routerLink="/orders" class="btn" id="orders">
        <i class="fa fa-truck" aria-hidden="true"></i> Orders
        </a>
    </div>
  </nav>
</header>
