 <footer>
      <div class="footer-content">
        <div class="newsletter">
          <div class="logo-section">
          <h1>Casual Bazaar</h1>
          <h5>Trust & Globally Appealing</h5>
        </div>
          <p>
            Subscribe to our newsletter for the latest updates on our clothing
            collections.
          </p>
          <form>
            <input type="email" placeholder="Your Email Here" />
            <button type="submit">Join</button>
          </form>
        </div>
        <div class="footer-links">
          <div class="quick-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">Shop Now</a></li>
              <li><a href="#">New Arrivals</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Gift Cards</a></li>
            </ul>
          </div>
          <div class="customer-service">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Returns Policy</a></li>
              <li><a href="#">Shipping Info</a></li>
            </ul>
          </div>
          <div class="social-media">
            <h4>Stay Connected</h4>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">LinkedIn</a></li>
              <li><a href="#">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div class="footer-bottom">
        <p>&copy; 2025 Casual-Bazaar. All rights reserved.</p>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Cookies Settings</a></li>
        </ul>
      </div>
    </footer>