 <footer>
      <div class="footer-content">
        <div class="newsletter">
          <div class="logo-section"><a routerLink="/home">
          <h1>Casual Bazaar</h1>
          <h5>Trust & Globally Appealing</h5></a>
        </div>
          <p>
            Subscribe to our newsletter for the latest updates on our clothing
            collections.
          </p>
          <form>
            <input type="email" placeholder="Your Email Here" />
            <button type="submit">Join</button>
          </form>
        </div>
        <div class="footer-links">
          <div class="quick-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a routerLink="/shop">Shop Now</a></li>
              <li><a routerLink="/new-arrivals">New Arrivals</a></li>
              <li><a routerLink="/best-sellers">Best Sellers</a></li>
              <li><a href="#">Gift Cards</a></li>
            </ul>
          </div>
          <div class="customer-service">
            <h4>Customer Service</h4>
            <ul>
              <li><a routerLink="/contact-us">Contact Us</a></li>
              <li><a routerLink="/faqs">FAQs</a></li>
              <li><a routerLink="/returns-policy">Returns Policy</a></li>
              <li><a routerLink="/shipping-info">Shipping Info</a></li>
            </ul>
          </div>
          <div class="social-media">
            <h4>Stay Connected</h4>
            <ul>
              <li><a routerLink="/">Facebook</a></li>
              <li><a a routerLink="/">Instagram</a></li>
              <li><a a routerLink="/">LinkedIn</a></li>
              <li><a a routerLink="/">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div class="footer-bottom">
        <p>&copy; 2025 Casual-Bazaar. All rights reserved.</p>
        <ul>
          <li><a routerLink="privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="/terms-of-service">Terms of Service</a></li>
          <li><a routerLink="/cookies-settings">Cookies Settings</a></li>
        </ul>
      </div>
    </footer>