<h2>Products</h2>
<button class="btn btn-success" (click)="toggleAddProductForm()">
  Add Product
</button>

<div *ngIf="isAddingProduct" class="section-form">
  <h2>Add New Product</h2>
  <form
    (ngSubmit)="handleAddProduct()"
    [formGroup]="addProductForm"
    class="form"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Product Name"
            formControlName="name"
            required
          />
          <div
            class="text-danger"
            *ngIf="
              addProductForm.get('name')!.touched &&
              addProductForm.get('name')!.invalid
            "
          >
            <span *ngIf="addProductForm.get('name')!.errors?.['required']"
              >*Product Name is required</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            id="price"
            class="form-control"
            placeholder="Product Price"
            formControlName="price"
            required
          />
          <div
            class="text-danger"
            *ngIf="
              addProductForm.get('price')!.touched &&
              addProductForm.get('price')!.invalid
            "
          >
            <span *ngIf="addProductForm.get('price')!.errors?.['required']"
              >*Product Price is required</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="category">Category:</label>
          <select
            id="category"
            class="form-control"
            formControlName="category"
            required
          >
            <option value="" disabled selected>Select Category</option>
            <ng-container *ngFor="let category of categories">
              <option [value]="category.name">{{ category.name }}</option>
            </ng-container>
          </select>
          <div
            class="text-danger"
            *ngIf="
              addProductForm.get('category')!.touched &&
              addProductForm.get('category')!.invalid
            "
          >
            <span *ngIf="addProductForm.get('category')!.errors?.['required']"
              >*Category is required</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="subCategory">SubCategory:</label>
          <select
            id="subCategory"
            class="form-control"
            formControlName="subCategory"
            required
          >
            <option value="" disabled selected>Select SubCategory</option>
            <ng-container *ngIf="addProductForm.get('category')!.value">
              <ng-container *ngFor="let category of categories">
                <ng-container
                  *ngIf="
                    category.name === addProductForm.get('category')!.value
                  "
                >
                  <option
                    *ngFor="let subCategory of category.subCategories"
                    [value]="subCategory"
                  >
                    {{ subCategory }}
                  </option>
                </ng-container>
              </ng-container>
            </ng-container>
          </select>
          <div
            class="text-danger"
            *ngIf="
              addProductForm.get('subCategory')!.touched &&
              addProductForm.get('subCategory')!.invalid
            "
          >
            <span
              *ngIf="addProductForm.get('subCategory')!.errors?.['required']"
              >*SubCategory is required</span
            >
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="status">
      <div class="form-group">
        <label for="availability">Availability:</label>
        <select
          id="availability"
          class="form-control"
          formControlName="availability"
        >
          <option value="" disabled selected>Select Availability</option>
          <option value="available">Available</option>
          <option value="unavailable">Unavailable</option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            addProductForm.get('status.availability')?.touched &&
            addProductForm.get('status.availability')?.invalid
          "
        >
          <span
            *ngIf="addProductForm.get('status.availability')?.errors?.['required']"
          >
            *Availability is required
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="stockStatus">Stock Status:</label>
        <select
          id="stockStatus"
          class="form-control"
          formControlName="stockStatus"
        >
          <option value="" disabled selected>Select Stock Status</option>
          <option value="inStock">In Stock</option>
          <option value="outOfStock">Out of Stock</option>
        </select>
        <div
          class="text-danger"
          *ngIf="
            addProductForm.get('status.stockStatus')?.touched &&
            addProductForm.get('status.stockStatus')?.invalid
          "
        >
          <span
            *ngIf="addProductForm.get('status.stockStatus')?.errors?.['required']"
          >
            *Stock Status is required
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="bestSeller">Best Seller:</label>
      <select
        id="bestSeller"
        class="form-control"
        formControlName="bestSellers"
      >
        <option value="" disabled selected>Select Best Seller</option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      <div
        class="text-danger"
        *ngIf="
          addProductForm.get('bestSellers')!.touched &&
          addProductForm.get('bestSellers')!.invalid
        "
      ></div>
      <div class="form-group">
        <label for="rank">Rank: </label>
        <input
          type="number"
          id="rank"
          class="form-control"
          formControlName="rank"
          required
        />
        <div
          class="text-danger"
          *ngIf="
            addProductForm.get('rank')!.touched &&
            addProductForm.get('rank')!.invalid
          "
        ></div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        class="form-control"
        placeholder="Product Description"
        formControlName="description"
        required
      ></textarea>
      <div
        class="text-danger"
        *ngIf="
          addProductForm.get('description')!.touched &&
          addProductForm.get('description')!.invalid
        "
      >
        <span *ngIf="addProductForm.get('description')!.errors?.['required']"
          >*Product Description is required</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="productImage">Product Image:</label>
      <input
        type="file"
        id="productImage"
        class="form-control"
        required
        (change)="handleImageUpload($event)"
      />
      <div
        class="text-danger"
        *ngIf="
          addProductForm.get('productImage')!.invalid &&
          addProductForm.get('productImage')!.touched
        "
      >
        <span *ngIf="addProductForm.get('productImage')!.errors?.['required']"
          >*Product Image is required</span
        >
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Add Product</button>
      <button type="button" class="btn btn-danger" (click)="cancelAddProduct()">
        Cancel
      </button>
    </div>
  </form>
</div>

<!-- Edit Product Form -->
<div *ngIf="isEditingProduct" class="section-form">
  <h2>Edit Product</h2>
  <form
    (ngSubmit)="handleUpdateProduct()"
    [formGroup]="editProductForm"
    class="form"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="editName">Name:</label>
          <input
            type="text"
            id="editName"
            class="form-control"
            placeholder="Product Name"
            formControlName="name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="editPrice">Price:</label>
          <input
            type="number"
            id="editPrice"
            class="form-control"
            placeholder="Product Price"
            formControlName="price"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="editCategory">Category:</label>
          <select
            id="editCategory"
            class="form-control"
            formControlName="category"
            required
          >
            <option value="" disabled>Select Category</option>
            <option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="editSubCategory">SubCategory:</label>
          <select
            id="editSubCategory"
            class="form-control"
            formControlName="subCategory"
            required
          >
            <option value="" disabled>Select SubCategory</option>
            <ng-container *ngFor="let category of categories">
              <option
                *ngFor="let subCategory of category.subCategories"
                [value]="subCategory"
              >
                {{ subCategory }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <div formGroupName="status">
      <div class="form-group">
        <label for="editAvailability">Availability:</label>
        <select
          id="editAvailability"
          class="form-control"
          formControlName="availability"
          required
        >
          <option value="" disabled>Select Availability</option>
          <option value="available">Available</option>
          <option value="unavailable">Unavailable</option>
        </select>
      </div>
      <div class="form-group">
        <label for="editStockStatus">Stock Status:</label>
        <select
          id="editStockStatus"
          class="form-control"
          formControlName="stockStatus"
          required
        >
          <option value="" disabled>Select Stock Status</option>
          <option value="inStock">In Stock</option>
          <option value="outOfStock">Out of Stock</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="editBestSeller">Best Seller:</label>
      <select
        id="editBestSeller"
        class="form-control"
        formControlName="bestSellers"
        required
      >
        <option value="" disabled>Select Best Seller</option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rank">Rank: </label>
      <input
        type="number"
        id="editRank"
        class="form-control"
        formControlName="rank"
        required
      />
      <div
        class="text-danger"
        *ngIf="
          addProductForm.get('rank')!.touched &&
          addProductForm.get('rank')!.invalid
        "
      ></div>
    </div>
    <div class="form-group">
      <label for="editDescription">Description:</label>
      <textarea
        id="editDescription"
        class="form-control"
        placeholder="Product Description"
        formControlName="description"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="editProductImage">Product Image:</label>
      <input
        type="file"
        id="editProductImage"
        class="form-control"
        formControlName="productImage"
        (change)="handleUpdateImageUpload($event)"
        accept="image/*"
      />
    </div>
    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Update Product</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="cancelEditProduct()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th>SubCategory</th>
      <th>status</th>
      <th>Best Seller</th>
      <th>Rank</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <img [src]="imageURL + product.productImage" alt="Product Image" />
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>${{ product.price }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.subCategory }}</td>
      <td>
        {{ product.status.availability }}
        {{ product.status.stockStatus }}
      </td>
      <td>{{ product.bestSellers }}</td>
      <td>{{ product.rank }}</td>
      <td>
        <button class="btn btn-warning" (click)="startEditProduct(product)">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteProduct(product._id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
