<div *ngIf="!isEditingOrder">
  <h2>Order Management</h2>
  <table *ngIf="orders.length > 0">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Items</th>
        <th>Status</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order._id }}</td>
        <td>{{ order.total_price | currency }}</td>
        <td>
          <table>
            <tr *ngFor="let item of order.items">
              <td>
                <img
                  [src]="imageURL + getProductById(item.product_id)?.productImage"
                  alt="Product Image"
                />
              </td>
              <td>
                {{ getProductById(item.product_id)?.name || item.product_id }} ({{ item.quantity }})
              </td>
            </tr>
          </table>
        </td>
        <td>{{ order.status }}</td>
        <td>
          {{ order.orderDetails.address }}, {{ order.orderDetails.city }}, {{ order.orderDetails.government }}
          <br />
          {{ order.orderDetails.extraPhone }}
          <br />
          {{ order.orderDetails.payment }}
        </td>
        <td>
          <button (click)="startEditOrder(order)" class="btn btn-warning">
            Edit
          </button>
          <button (click)="deleteOrder(order._id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="orders.length === 0">
    <p>No orders available.</p>
  </div>
</div>

<div *ngIf="isEditingOrder" class="section-form">
  <h2>Edit Order</h2>
  <form
    (ngSubmit)="handleUpdateOrder()"
    [formGroup]="editOrderForm"
    class="form"
  >
    <div class="form-group">
      <label for="editTotalPrice">Total Price:</label>
      <input
        type="number"
        id="editTotalPrice"
        class="form-control"
        placeholder="Total Price"
        formControlName="total_price"
        required
      />
    </div>

    <div class="form-group">
      <label for="editItems">Items:</label>
      <select
        id="editItems"
        class="form-control"
        formControlName="items"
        required
        multiple
      >
        <option
          *ngFor="let product of products | keyvalue"
          [value]="product.key"
        >
          {{ product.value.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="editStatus">Status:</label>
      <select
        id="editStatus"
        class="form-control"
        formControlName="status"
        required
      >
        <option value="Pending">Pending</option>
        <option value="Shipped">Shipped</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>

    <div class="form-group">
      <label for="editFullName">Full Name:</label>
      <input
        type="text"
        id="editFullName"
        class="form-control"
        formControlName="fullName"
        required
      />
    </div>

    <div class="form-group">
      <label for="editAddress">Address:</label>
      <input
        type="text"
        id="editAddress"
        class="form-control"
        formControlName="address"
        required
      />
    </div>

    <div class="form-group">
      <label for="editCity">City:</label>
      <input
      type="text"
      id="editCity"
      class="form-control"
      formControlName="city"
      required
      />
    </div>

    <div class="form-group">
      <label for="editGovernment">Government:</label>
      <select
        id="editGovernment"
        class="form-control"
        formControlName="government"
        required
      >
        <option value="" disabled selected>Select Governorate</option>
        <option value="cairo">Cairo</option>
        <option value="giza">Giza</option>
        <option value="alexandria">Alexandria</option>
      </select>
    </div>

    <div class="form-group">
      <label for="editExtraPhone">Extra Phone:</label>
      <input
        type="text"
        id="editExtraPhone"
        class="form-control"
        formControlName="extraPhone"
      />
    </div>

    <div class="form-group">
      <label for="editPayment">Payment:</label>
      <select
        id="editPayment"
        class="form-control"
        formControlName="payment"
        required
      >
        <option value="" disabled selected>Select Payment Method</option>
        <option value="creditCard">Credit Card</option>
        <option value="vodafoneCash">Vodafone Cash</option>
        <option value="instapay">Instapay</option>
        <option value="onDelively">On Delively</option>
      </select>
      
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Update Order</button>
      <button type="button" class="btn btn-danger" (click)="cancelEditOrder()">
        Cancel
      </button>
    </div>
  </form>
</div>
