<div class="wishlist-container">
  <h1>My Wishlist</h1>

  <!-- Wishlist Table -->
  <div *ngIf="wishlist.length > 0; else noItems">
    <table class="wishlist-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Added At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of wishlist">
          <td colspan="4">
            <table class="nested-table">
              <tbody>
                <tr *ngFor="let item of list.items">
                  <td>
                    <a routerLink="/product/{{ item.productId._id }}" target="_blank">
                      <img
                        [src]="imgURL + item.productId.productImage"
                        alt="Product Image"
                        class="product-image"
                        loading="lazy"
                      />
                    </a>
                  </td>
                  <td>
                    <a routerLink="/product/{{ item.productId._id }}" target="_blank">
                      {{ item.productId.name }}
                    </a>
                  </td>
                  <td>
                    <a routerLink="/product/{{ item.productId._id }}" target="_blank">
                      {{ item.productId.description }}
                    </a>
                  </td>
                  <td>
                    <a routerLink="/product/{{ item.productId._id }}" target="_blank">
                      {{ item.addedAt | date: 'medium' }}
                    </a>
                  </td>
                  <td>
                    <button
                      class="remove-button"
                      (click)="removeFromWishlist(item.productId._id)"
                    >
                      Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noItems>
    <div class="empty-message">
      <p>Your wishlist is currently empty.</p>
      <button class="add-item-btn" (click)="navigateToAddItems()">Browse Products</button>
    </div>
  </ng-template>
</div>
