/* General Styles */
.main-content {
    margin-left: 10vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

h1 {
    color: #34495e;
    text-align: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #2c3e50;
    color: white;
}

thead th {
    padding: 10px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ecf0f1;
    text-align: center;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

tbody td {
    padding: 10px;
}

.orders .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.orders .table th,
.orders .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.orders .table th {
    background-color: #f2f2f2;
}

.orders .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Orders Component Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 14vh;
}
