<!-- <h1>Hello Angular</h1> -->
<!-- Binding -->
<!-- Interpolation (Oneway binding) -->
<!-- <p>{{name}}</p> -->

<!-- Property binding -->
<!-- <p [innerHTML]="name"></p> -->
<!-- <img [src]="imageURL" alt=""> -->
<!-- <button [disabled]="isDisabled">Click me</button> -->

<!-- Event binding -->
<!-- <button (click)="onClick()">Click me</button> -->
<!-- <button (click)="do($event)">Click me!!</button> -->

<!-- Two way binding -->
<!-- <input type="text" [(ngModel)]="name">  --><!--  this is a property binding and event binding -->
<!-- <p>{{name}}</p> -->

<!-- Directives -->
<!-- *ngIf -->
<!-- <p *ngIf="show">Show me</p> -->

<!-- *ngFor -->
<!-- <ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul> -->

<!-- *ngSwitch -->
<!-- <div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">Red color</p>
    <p *ngSwitchCase="'blue'">Blue color</p>
    <p *ngSwitchDefault>Invalid color</p>
</div> -->

<!-- Style binding ==>
<p [style.color]="color">Color me</p>
<p [class.active]="isActive">{{name}}</p>
<p [style.font-size]="fontSize">Style me</p> -->

<!-- <p *ngIf="isActive">"IsActive"</p>
<p *ngIf="!isActive">"IsNotActive"</p>
<button (click)="isActive=!isActive">Toggle</button> -->

<ul>
    <!-- <li *ngFor="let name of names">{{name}}</li> -->
     <!-- <li *ngFor="let name of names; let i=index">
        <span *ngIf="name !=='Ali'">{{i+1}} - {{name}}</span>
        </li> -->
        <!-- <ng-container *ngFor="let name of names; let i=index">  ng-container is used to avoid extra div -->
            <!-- <li *ngIf="name !=='Ali'">{{i+1}} - {{name}}</li>   -->
        <!-- </ng-container> -->
</ul>

<!-- <p *ngIf="x =='Ali'">ISACTIVE</p> -->

<!-- Class binding
<p [class]="color">Class me</p> -->

<!-- Attribute binding -->
<!-- <p [attr.title]="color">Attribute me</p> -->

<!-- Template reference variable -->
<!-- <input type="text" #input> -->
<!-- <button (click)="onClick(input)">Click me</button> -->

<!-- Component Interaction -->
<!-- <app-second [parentData]="name" (childEvent)="message=$event"></app-second>
<p>{{message}}</p> -->

<!-- Routing -->
<!-- <a routerLink="/second">Second</a>
<a routerLink="/third">Third</a>
<router-outlet></router-outlet> -->

<!-- Pipes -->
<!-- <p>{{name | uppercase}}</p>
<p>{{name | lowercase}}</p>
<p>{{name | titlecase}}</p>
<p>{{name | slice:3:5}}</p>
<p>{{5.678 | number:'1.2-3'}}</p>
<p>{{5.678 | number:'3.4-5'}}</p>
<p>{{5.678 | number:'3.1-2'}}</p>
<p>{{0.25 | percent}}</p>
<p>{{0.25 | currency}}</p>
<p>{{0.25 | currency:'GBP'}}</p> -->
<!-- <p>{{date | date:'short'}}</p>
<p>{{date | date:'shortDate'}}</p>
<p>{{date | date:'shortTime'}}</p>

Custom Pipes -->
<!-- <p>{{name | reverse}}</p> -->

<!-- Services -->
<!-- <p>{{name}}</p>
<button (click)="onClick()">Click me</button> -->

<!-- HTTP Client -->
<ul>
    <!-- <li *ngFor="let item of items">{{item.title}}</li> -->
</ul>

<!-- Forms -->
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->
    <!-- <input type="text" name="name" ngModel>
    <button type="submit">Submit</button>
</form> -->

<!-- Reactive Forms -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name">
    <button type="submit">Submit</button>
</form> -->

<!-- Validation -->
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input type="text" name="name" ngModel required>
    <button type="submit">Submit</button>
</form> -->

<!-- Custom Validation -->
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <input type="text" name="name" ngModel #name="ngModel" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">Name is required</div>
    </div>
    <button type="submit">Submit</button>
</form> -->

<!-- FormArray -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i=index">
            <input type="text" [formControlName]="i">
        </div>
    </div>
    <button type="submit">Submit</button>
</form> -->

<!-- Dynamic FormArray -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i=index">
            <input type="text" [formControlName]="i">
            <button type="button" (click)="onRemove(i)">Remove</button>
        </div>
    </div>
    <button type="button" (click)="onAdd()">Add</button>
    <button type="submit">Submit</button>
</form> -->

<!-- Form Builder -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name">
    <button type="submit">Submit</button>
</form> -->

<!-- Form Builder with Validation -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name">
    <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)">
        <div *ngIf="form.get('name').errors.required">Name is required</div>
    </div>
    <button type="submit">Submit</button>
</form> -->

<!-- Form Builder with FormArray -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i=index">
            <input type="text" [formControlName]="i">
        </div>
    </div>
    <button type="submit">Submit</button>
</form> -->

<!-- Form Builder with Dynamic FormArray -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i=index">
            <input type="text" [formControlName]="i">
            <button type="button" (click)="onRemove(i)">Remove</button>
        </div>
    </div>
    <button type="button" (click)="onAdd()">Add</button>
    <button type="submit">Submit</button>
</form> -->

<!-- Form Builder with FormArray and Form Builder -->
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i=index">
            <input type="text" [formControlName]="i">
        </div>
    </div>
    <button type="button" (click)="onAdd()">Add</button>
    <button type="submit">Submit</button>
</form> -->


<!-- <img src="imgs/img1.png" alt=""> -->