<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
        <th>Status</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let product of products">
        <td [style.color]="'red'">{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.desc }}</td>
        <td><img [src]="product.imageURL" alt="{{ product.name }}" width="100" height="100"></td>
         <!-- <td>{{product.isActive ? 'Active' : 'Not Active'}}</td> Conditional rendering -->
        <td><p [class.active]="product.isActive" [class.not-active]="!product.isActive"> {{product.isActive ? 'Active' : 'Not Active'}}</p></td>
       <td><button (click)="change(product.id)">Change</button></td> 
       <td><button (click)="delete(product.id)">Delete</button></td>
    </tr>
</table>
