<div class="body">
    <div class="form-container">
        <!-- signupForm refrance name-->
        <!-- ngSubmit is a directive that binds the form submission to the onSubmit() method. -->
        <!-- #signupForm="ngForm" is a local variable that we can use to access the form in the component class. -->
        <!-- onSubmit(signupForm) is a method that will be called when the form is submitted. -->
        <!-- The method takes the form as an argument. -->
        <!-- The form is passed to the method so that we can access the form data in the component class. -->
        <!-- The method will be implemented in the component class. -->
      <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm"> 
        <h2>Join US</h2>
        <!-- Text Input -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Username" name="username" ngModel required #username="ngModel"> <!-- ngModel is a directive that binds the input value to the component class property. -->
         <div class="msg-error" *ngIf= "username.invalid && username.touched">
            *Username is required
          </div>    
          <button (click)= "onRandomUsername(signupForm)" type="button">generate username</button>
        </div>

        <div class="form-row">
        <!-- Password Input -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter password" name="password" ngModel required #password="ngModel">
          <div class="msg-error" *ngIf= "password.invalid && password.touched">
            <p *ngIf= "password.errors?.['required']">*password is required</p>
        </div></div>    
  
        <!-- Re-type Password Input -->
        <div class="form-group">
          <label for="retypePassword">Re-type Password</label>
          <input type="password" id="retypePassword" placeholder="Re-type Password" name="retypePassword" ngModel required #retypePassword="ngModel" [pattern]= "password.value">
            <div class="msg-error" *ngIf= "retypePassword.invalid && retypePassword.touched">
                <p *ngIf= "retypePassword.errors?.['required']">*retype password is required</p>
                <!-- <p *ngIf= "retypePassword.errors?.['notMatch']">*passwords do not match</p> -->
                 <p *ngIf= "retypePassword.errors?.['pattern']">*passwords do not match</p>
                </div>
        </div>
        </div>

        <!-- Email Input -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter email" name="email" ngModel required #email="ngModel" email>
            <div class="msg-error" *ngIf= "email.invalid && email.touched">
                <p *ngIf= "email.errors?.['required']">*email is required</p>
                <p *ngIf= "email.errors?.['email']">*wrong email format</p>
                </div>
        </div>
        <div class="form-row">

        <!-- Number Input -->
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" id="age" placeholder="Age" name="age" ngModel required #age="ngModel" min="17">
          <div class="msg-error" *ngIf= "age.invalid && age.touched">
            <p *ngIf= "age.errors?.['required']">*age is required</p>
            <p *ngIf= "age.errors?.['min']">*age should be greater than 17</p>
            </div>  
        </div>
        
        <!-- Date Input -->
        <div class="form-group">
          <label for="birthDate">Birth Date</label>
          <input type="date" id="birthDate" name="birthDate" ngModel required>
        </div>
        </div>
        <!-- URL Input -->
        <div class="form-group">
          <label for="linkedInURL">LinkedIn URL</label>
          <input type="url" id="linkedInURL" placeholder="LinkedIn URL" name="linkedInURL" ngModel>
        </div>
        
        <!-- Telephone Input -->
        <div class="form-group">
          <label for="phone">Phone NO.</label>
          <input type="tel" id="phone" placeholder="Phone NO." name="phone" ngModel required #phone="ngModel" pattern="^[0-9]{11}$">
            <div class="msg-error" *ngIf= "phone.invalid && phone.touched">
                <p *ngIf= "phone.errors?.['required']">*phone is required</p>
                <p *ngIf= "phone.errors?.['pattern']">*wrong phone format, should be 11 digits</p>
                </div>
        </div>
        
        <!-- File Input -->
        <div class="form-group">
          <label for="cv">Your C.V</label>
          <input type="file" id="cv" name="cv" ngModel>
        </div>
        
        <!-- Radio Buttons -->
        <div class="form-group">
          <label>Gender</label>
          <div class="form-group-inline">
            <input type="radio" id="radio1" name="gender" value="female" ngModel required> 
            <label for="radio1">Female</label>
          </div>
          <div class="form-group-inline">
            <input type="radio" id="radio2" name="gender" value="male" ngModel required> 
            <label for="radio2">Male</label>
          </div>
        </div>
        
        <!-- Select Dropdown -->
        <div class="form-group">
          <label for="select">Status</label>
          <select id="select" name="status" ngModel required>
            <option value="graduate">Graduate</option>
            <option value="student">Student</option>
          </select>
        </div>
        
        <!-- Textarea -->
        <div class="form-group">
          <label for="about">About you</label>
          <textarea id="about" name="about" rows="4" placeholder="About You" ngModel></textarea>
        </div>
  
        <!-- Checkbox -->
        <div class="form-group-inline">
          <input type="checkbox" id="terms" name="terms" ngModel required>
          <label for="terms">Agree to terms and conditions</label>
        </div>
        
        <!-- Submit Button -->
        <div class="form-group text-center">
          <input type="submit" value="Join Us"/>
        </div>
      </form>
    </div>
  </div>
  