<!-- {{name| uppercase}} <br>
{{name| lowercase}} <br>
{{name| titlecase}} <br>
{{name| slice:3:5}} <br>
{{person| json}} <br> -->
<!-- {{5.678| number:'1.2-3'}} <br>
{{5.678| number:'3.4-5'}} <br>
{{0.25| percent}} <br>
{{0.25| currency}} <br>
{{0.25| currency:'GBP'}} <br> -->

<!-- {{grade | percent: '2.2-2'}} //percent pipes <br> -->
<!-- <h6>Pipe date</h6>
{{myDate | date}}  //default date format<br>
{{myDate| date:'short'}}  //short date format<br>
{{myDate| date:'shortDate'}} <br> 
{{myDate| date:'shortTime'}} <br>
{{myDate| date:'medium'}} <br>
{{myDate| date:'long'}} <br>
{{myDate| date:'full'}} <br>
{{myDate| date:'dd-MM-yyyy HH:mm:ss'}} //date in custom format <br> -->
<!-- <h6>Pipe currency</h6>
{{price | currency}} <br>
{{price | currency:'EUR'}} <br>
{{price | currency:'EGP'}} <br>
{{price | currency:'USD':false : '2.3-3'}} <br> 
{{price | currency:'GBP':'symbol':'2.3-3'}} <br>
{{price | currency:'GBP':'symbol-narrow'}}
{{price | currency:'GBP':'code'}} <br>
{{price | currency:'GBP':'symbol'}} <br> -->

<!-- <h6>Pipe number</h6>
{{price | number}} <br>
{{price | number:'2.2-4'}} -->

<!-- <h6>Pipe slice</h6>
{{[1,2,3,4,5,6,7,8,9,10] | slice:3:5}}<br>
{{"Angular9" | slice:3:5 | uppercase}}<br> -->

<!-- <h6>Pipe async</h6>
{{asyncData | async}}<br> -->

<!-- <h6>Pipe json</h6>
{{person | json}} -->

<h6>Pipe custom</h6>
{{'this is my new text' | noSpace}}