<body>
  <div class="container">
    <div class="page-heading">
      <h1>{{ title }}</h1>
      <p>
        Discover the latest trends and best-selling products at Casual Bazaar.
      </p>
    </div>
    <div class="carousel">
      <div class="carousel-track" #carouselTrack>
        <div class="carousel-item" *ngFor="let product of carouselProducts">
          <img [src]="imageURL + product.productImage" [alt]="product.name" />
        </div>
      </div>
      <div class="carousel-buttons">
        <button class="carousel-button" (click)="prev()">&#8249;</button>
        <button class="carousel-button" (click)="next()">&#8250;</button>
      </div>
    </div>

    <app-filter (applyFilters)="onApplyFilter($event)" (resetFilters)="onResetFilter()"></app-filter> 

    <div class="products-grid">
      <div class="product-card" *ngFor="let product of filteredProducts">
        <img [src]="imageURL + product.productImage" [alt]="product.name" />
        <div class="details">
          <a [routerLink]="['/product', product._id]">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p class="price">${{ product.price }}</p>
          </a>
          <div *ngIf="!isAdmin">
            <button class="btn" (click)="addToCart(product)">🛒 Add to Cart</button>
            <button class="btn-wishlist" (click)="addToWishlist(product)">❤️</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination Component -->
<app-pagination
  [totalItems]="products.length"
  [itemsPerPage]="productsPerPage"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-pagination>
  </div>
</body>
