<body>
  <div class="container">
    <div class="page-heading">
      <h1>{{ title }}</h1>
      <p>
        Discover the latest trends and best-selling products at Casual Bazaar.
      </p>

    </div>

    <div class="carousel">
      <div class="carousel-track" #carouselTrack>
        <div class="carousel-item" *ngFor="let product of carouselProducts">
          <img         
          [src]="imageURL + product.productImage"
          [alt]="product.title" />
        </div>
      </div>
      <div class="carousel-buttons">
        <button class="carousel-button" (click)="prev()">&#8249;</button>
        <button class="carousel-button" (click)="next()">&#8250;</button>
      </div>
    </div>

    <nav class="navbar category-navbar">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" *ngFor="let category of categories">
            <div *ngIf="visibleCategories">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              [id]="category.name + 'Dropdown'"
              role="button"
              (mouseenter)="showDropdown(category.name)"              
            >
              {{ category.name }}
            </a>
            <ul
              class="dropdown-menu"
              [class.show]="category.show"
              [attr.aria-labelledby]="category.name + 'Dropdown'"
            >
              <li *ngFor="let subCategory of category.subCategories">
                <span
                  class="dropdown-item"
                  href="#"
                  (click)="filterByCategory(category.name, subCategory)"
                >
                  {{ subCategory }}
              </span>
              </li>
            </ul></div>
          </li>
        </ul>
      </div>
    </nav>
      <!-- Display chosen subcategory -->
      <div *ngIf="selectedSubCategory" class="selected-subcategory">
        <h3>Selected Subcategory: {{ selectedSubCategory }}</h3>
      </div>
    <div class="products-grid">
      <div class="product-card" *ngFor="let product of filteredProducts">
        <img         
        [src]="imageURL + product.productImage"
        [alt]="product.name" />
        <div class="details">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p class="price">${{ product.price }}</p>
            <button class="btn" (click)="addToCart(product)" >Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</body>
