*{
    min-height: 90vh;

}
  #carouselExampleControls {
    max-width: 700px; 
    margin: 0 auto; 
    transition: transform 0.3s ease-in-out;
    right: 10vw;
  }

  .carousel-item img {
    object-fit: cover; 
    height: 400px; 
  }

  .carousel-inner {
    border-radius: 10px; 
    overflow: hidden; 
  }