<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
  style="transform: scale(0.9); transform-origin: center"
>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let product of products; let i = index"
      [class.active]="i === 0"
    >
      <img
        class="d-block w-100"
        [src]="imageURL + product.imgURL"
        alt="Slide {{ i + 1 }}"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
