<body>
<div class="container best-sellers">
  <div class="category-group" *ngFor="let category of bestSellersByCategory">
    <h2 class="category-title">{{ category.name }}</h2>
    <div class="carousel">
      <div class="carousel-track" #carouselTrack [style.transform]="'translateX(' + (-category.activeIndex * 100) + '%)'">
        <div *ngFor="let chunk of category.chunks" class="carousel-item">
          <div class="row">
            <div class="col-lg-3" *ngFor="let product of chunk">
              <div class="card">                    
                <a routerLink="/product/{{ product._id }}" class="card-title">
                <div class="card-body">
                  <img
                    class="card-img-top"
                    [src]="imageURL + product.productImage"
                    [alt]="product.title"
                    loading="lazy"
                  />
                    <span>#{{ product.rank }} in {{ product.category }}</span>
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text">
                    <strong>Price:</strong> ${{ product.price }}
                  </p>&nbsp;
<!--                   <a href="#" class="btn btn-primary">
                    Add to Cart <i class="fas fa-shopping-cart"></i>
                  </a> -->
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-buttons">
        <button class="carousel-button" (click)="prev(category)">&#8249;</button>
        <button class="carousel-button" (click)="next(category)">&#8250;</button>
      </div>
    </div>
  </div>
</div>

</body>