body {
  margin-top: 15vh;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.best-sellers {
  margin-top: 30px;
  padding: 20px;
}

.category-title {
  color: #007bff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0;

}
a{
  text-decoration: none;
}

.card {
  margin-bottom: 20px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  max-width: 300px;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card span {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.card-body {
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 5px 5px;
  min-height: 440px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.card-text {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-primary {
  padding: 10px 20px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}



.btn-primary:hover {
  background-color: #555;

}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .card {
    max-width: 45%;
  }

  .btn-primary {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 100%;
  }

  .btn-primary {
    font-size: 12px;
    padding: 6px 12px;
  }
}
